html
  head
    title #{title}
  body
    h1 #{title}
    p Olá <strong>#{name}</strong> seu e-mail <strong>#{email}</strong> foi valiado com sucesso!
    a(href='https://reader-gov.netlify.app/login') Clique aqui para fazer login.